name: Security Scan

on:
  push:
  pull_request:

permissions:
  contents: write
  security-events: write
  actions: read


jobs:
  zap_scan:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Start Flask App
      run: |
        python -m venv venv
        source venv/bin/activate
        pip install -r requirements.txt
        nohup python app/app.py &

    - name: Run ZAP Scan
      uses: zaproxy/action-baseline@v0.10.0
      with:
        target: 'http://127.0.0.1:5000'
